
@media screen and (min-width: 700px) {
    div.navbar {
      display: show;
    }
    div.mobilenav {
        display: none;
    }
  }
@media screen and (max-width: 700px) {
    div.navbar {
      display: none;
    }
    div.mobilenav {
        display: show;
    }
  }
/*NAVBAR*/
.navbar a{
    float:left;
    text-align: center;
    color: white;

}
.container-fluid{
    float: left;
}
/*SUDOKU BOARD*/
.board{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
}
.board  table{
    table-layout: fixed;
    height: 50%;
    width: 50%;
    empty-cells: show;
    border: 3px solid black;
    border-collapse:collapse;
}
.board  tr{
    height: 70px;
}
.board  td{
    font-size: 140%;    
    text-align: center;
    padding: 1rem;
    border: thin solid black;
}
.board   td:hover{
    background-color: #f5dd90;
}
.board  tr:nth-child(3n){
    border-bottom: 3px solid black;
}
.board  td:nth-child(3n){
    border-right: 3px solid black;
}

/*NUMBER PALLETE*/
#pallete{
    padding: 1rem;
    display: flex;
    justify-content: center;
}
#pallete table{
    table-layout: fixed;
    width: 650px;
    border: thin solid black;
    border-collapse:collapse;
}
#pallete td{
    font-size: 200%;
    color: rgb(88, 88, 88);
    display: table-cell;
    text-align: center;
    padding: 1rem;
    border: thin solid black;
}
#pallete td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
#pallete td:hover{
    background-color: #f5dd90;
}
.selected {
    background-color: #7cebff;
  }
/*ADDITIONAL STYLING*/
.user-input{
    background-color: #f2f2f2;
}
.error{
    background-color: #f76c5e;
}

